<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-tag"></span> Products <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/enamelpins">Enamel Pins</a></li>
            <li><a href="#">Apparel</a></li>
            <li><a href="#">ETC.</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-th"></span> Artwork <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Comics</a></li>
            <li><a href="#">Illustrations</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span> About Us</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-earphone"></span> Contact</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
      </li>
    </ul>
  </div>
</nav>
