<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Linly Studios</a>
    </div>
    <!-- Collect the nav links for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-tag"></span> Products <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/enamel-pins">Enamel Pins</a></li>
              <li><a href="/apparel">Apparel</a></li>
              <li><a href="/misc">ETC.</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-th"></span> Artwork <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Comics</a></li>
              <li><a href="#">Illustrations</a></li>
            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/about-us"><span class="glyphicon glyphicon-user"></span> About Us</a>
        </li>
        <li>
          <a href="/contact"><span class="glyphicon glyphicon-earphone"></span> Contact</a>
        </li>
        <li role="presentation">
          <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="badge">0</span></a>
        </li>
      </ul>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container -->
</nav>
