.jumbotron {
  background: #F96262; /*Our store's pink color*/
  color: white;
  padding-bottom: 20px; } /*Controls shape of jumbotron from the bottom*/
  .jumbotron .btn-primary {
    background: #f9d562;
    border-color: #f9d562; } /*Adds a border to the button*/
    .jumbotron .btn-primary:hover {
      background: #ffce2d; }
  .jumbotron p {
    color: #ffffff;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; } /*Adds space between navbar and jumbotron*/
  .jumbotron .lang-logo {
    display: block;
    background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.new-arrivals-panel {
  position: relative;
  text-align: center;
  color: white;
}
  .new-arrivals-panel .img-rounded {
    padding-top: 5px;
    padding-bottom: 20px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 250px;
    margin: auto;
  }

  .new-arrivals-panel .btn-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }