<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container-fluid">
	<div class="row">
    	<h1>About Us</h1>
    </div>
    <hr>
    <div class="alert alert-warning text-center" role="alert">
    	<span class="glyphicon glyphicon-warning-sign"></span> Website under construction. <span class="glyphicon glyphicon-warning-sign"></span>
  	</div>
</div>

</body>
</html>
