<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <h1>Apparel</h1>
  </div>
  <hr>
  <div class="alert alert-warning text-center" role="alert">
    <span class="glyphicon glyphicon-warning-sign"></span> Website under construction. <span class="glyphicon glyphicon-warning-sign"></span>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/sweater-temp.jpg" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/sweater-temp.jpg" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/sweater-temp.jpg" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/sweater-temp.jpg" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/sweater-temp.jpg" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/sweater-temp.jpg" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->
   <div class="alert alert-warning text-center" role="alert">
    <span class="glyphicon glyphicon-warning-sign"></span> Website under construction. <span class="glyphicon glyphicon-warning-sign"></span>
  </div>
</div>

  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>
