<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<!--<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Linly Studios</h1>
    <p>Two sisters making the world a cuter place.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>-->
<div class="container">
  <div class="alert alert-warning text-center" role="alert">
    <span class="glyphicon glyphicon-warning-sign"></span> Website under construction. <span class="glyphicon glyphicon-warning-sign"></span>
  </div>
  <hr>
  <div class="row">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/lang-logo.png" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/lang-logo.png" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/lang-logo.png" alt="...">
          <div class="caption">
            <h3>Product Name</h3>
            <p>Product description...</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">View More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->
   <div class="alert alert-warning text-center" role="alert">
    <span class="glyphicon glyphicon-warning-sign"></span> Website under construction. <span class="glyphicon glyphicon-warning-sign"></span>
  </div>
</div>


</body>
</html>
