<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container-fluid">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Linly Studios</h1>
    <p>Two sisters making the world a cuter place.</p>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-flash"></span> Follow Us</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-star"></span> New Arrivals</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-warning text-center" role="alert">
    <span class="glyphicon glyphicon-warning-sign"></span> Website under construction. <span class="glyphicon glyphicon-warning-sign"></span>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div class="new-arrivals-panel">
        <img src="/wide-panel-temp.jpg" alt="..." class="img-rounded">
        <a role="button" class="btn btn-link"><h1>New Arrivals</h1></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="new-arrivals-panel">
          <img src="/wide-panel-temp.jpg" alt="..." class="img-rounded">
          <a role="button" class="btn btn-link" href="/enamel-pins"><h1>Enamel Pins</h1></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="new-arrivals-panel">
          <img src="/wide-panel-temp.jpg" alt="..." class="img-rounded">
          <a role="button" class="btn btn-link"><h1>Comics</h1></a>
        </div>
      </div>
  </div>
   <div class="alert alert-warning text-center" role="alert">
    <span class="glyphicon glyphicon-warning-sign"></span> Website under construction. <span class="glyphicon glyphicon-warning-sign"></span>
  </div>
</div> <!-- /.container -->

  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>
