<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container-fluid">
    <div class="row">
      <h1>Coming soon...</h1>
    </div>
    <hr>
  </div>

</body>
</html>
