<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <h1>Coming soon...</h1>
    </div>
    <hr>
  </div>

  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>
